/*----------Index*/
/*Tabela*/
.id {
    
}

    .id a {
        font-weight: bold;
        display: block;
    }

div.dt-buttons{
    width: 50px;
    display: inline-flex;
    margin-bottom: 20px;
}
/*botões*/
.botao {
    height: 20px;
    margin: 3px;
    border: none;
    background-color: inherit;
    font-size: 22px;
    cursor: pointer;
}


/*----------Detalhes*/

