@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Servicos";
}
<div class="formulario arredondado alto">
    @Html.Raw(Model.Html)
</div>